{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-organize-imports",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-packagejson"
  ],
  "importOrder": [
    "^@nestjs/(.*)$",
    "typeorm$",
    "^@core/(.*)$",
    "^@application/(.*)$",
    "^@infrastructure/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ]
}
